@model StatusCodeViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Title"];
}

<div class="text-center">
    <h2>@Localizer["Header"]</h2>
    <div>
        <p>
            <span class="font-weight-bold">Status code: @Model.Value</span>
            @Model.Name
        </p>
    </div>
</div>