@model DisplayCommentsViewModel
@inject IViewLocalizer Localizer

<div id="comments">
    <div>
        @foreach (var comment in Model.Comments)
        {
            <partial name="DisplayComment" model="@comment"/>
        }
    </div>
    @if (User.IsAllowedPermission(Permissions.CreateComment))
    {
        <div class="ml-2">
            <h4 class="text-center mt-4">
                <a asp-action="CreateAsync" id="open-form" class="text-success">@Localizer["NewComment"]</a>
            </h4>
        </div>
    }
</div>