.back-link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FF7E2A;
}

.back-link img {
    margin-right: 1vw;
}

.back-link:hover {
    color: #FF7E2A;
}

.game-details {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

.details-side {
    width: 44vw;
}

.slider-container {
    position: relative;
}

.slider-nav-button{
    height: 100%;
}

.slider {
    display: flex;
    position: relative;
}

.slide {
    display: none;
}

.slide.slide-active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
}

.slide-image {
    width: 100%;
    height: 100%;
}

.slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.previous {
    left: 1.5vw;
}

.next {
    right: 1.5vw;
}

.main-image {
    display: flex;
    position: relative;
}

.main-image > img {
    width: 100%;
}

.previews {
    display: flex;
    margin-top: 2.5vh;
    flex-wrap: wrap;
}

.previews div:nth-child(3n+3){
    padding-right: 0;
}

.preview-container {
    margin-top: 1vh;
    width: 14vw;
    display: flex;
    position: relative;
    padding-right: 1vw;
    box-sizing: content-box;
}

.preview-image {
    width: 100%;
    height: 100%;
}

.video-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-header {
    font-size: 34px;
    line-height: 46px;
    color: #3E4554;
    margin-bottom: 1.5vh;
}

.rating-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vh;
}

.game-price {
    font-size: 28px;
    line-height: 32px;
    color: #3E4554;
}

.rating a {
    transition: .3ms ease;
}

.star {
    margin-right: 6px;
    height: 100%;
}

.star-hidden {
    display: none;
}

.rating {
    direction: rtl;
}

.rating a:hover .star-grey {
    display: none;
}

.rating a:hover .star-hidden {
    display: inline-block;
}

.star-1:hover ~ a > .star-grey {
    display: none;
}

.star-1:hover ~ a > .star-hidden {
    display: inline-block;
}

.star-2:hover ~ a > .star-grey {
    display: none;
}

.star-2:hover ~ a > .star-hidden {
    display: inline-block;
}

.star-3:hover ~ a > .star-grey {
    display: none;
}

.star-3:hover ~ a > .star-hidden {
    display: inline-block;
}

.star-4:hover ~ a > .star-grey {
    display: none;
}

.star-4:hover ~ a > .star-hidden {
    display: inline-block;
}

.star-5:hover ~ a > .star-grey {
    display: none;
}

.star-5:hover ~ a > .star-hidden {
    display: inline-block;
}

.comments-description {
    margin-left: 1vw;
    font-size: 16px;
    line-height: 20px;
    color: #3E4554;
}

.publisher-header {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 4px;
    color: #3E4554;
}

.publisher-header:hover {
    color: #3E4554;
}

.vl {
    width: 1px;
    background-color: #D8D8D8;
    margin-left: 10px;
    margin-right: 10px;
}

.details {
    margin-top: 3vh;
}

.details-header {
    font-size: 16px;
    line-height: 22px;
    color: #3E4554;
}

.platforms {
    margin-right: 3vw;
}

.detail-value {
    color: #3E4554;
    font-size: 14px;
    line-height: 22px;
}

.genre {
    border: 1px solid #FF7E2A;
    border-radius: 15px;
    padding: 0.5vh 2vw;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.upper-margin {
    margin-top: 4vh;
}

.bottom-margin {
    margin-bottom: 4vh;
}

.details-header-xl {
    font-size: 22px;
    line-height: 27px;
    color: #3E4554;
    margin-bottom: 2vh;
}

.get-list {
    margin-bottom: 1vh !important;
}

.get-list li {
    margin-top: 1vh !important;
}

.details-text {
    font-size: 14px;
    line-height: 24px;
    color: #3E4554;
}

.rating-value {
    font-size: 18px;
    line-height: 26px;
    color: #FF7E2A;
}

.comment {
    margin-top: 2vh;
}

.comment-wrapper {
    padding: 3vh 2em;
    margin-top: 3vh;
    background: #F7F7F7;
    width: 100%;
}

.comment-content {
    width: 100%;
}

.image-wrapper {
    margin-right: 2vw;
}

.user-name {
    font-size: 14px;
    line-height: 18px;
    color: #3E4554;
}

.comment-date {
    font-size: 12px;
    line-height: 12px;
    color: #7B7B7B;
}

.comment-body {
    color: #3E4554;
    font-size: 14px;
    line-height: 24px;
    margin: 1vh 0;
}

.quote-text {
    font-size: 14px;
    line-height: 20px;
    color: #7B7B7B;
}

.quote-text::before {
    content: "";
    border-left: 2px solid #FF7E2A;
    margin-right: 1.5vh;
}

.reply-btn {
    margin: 0 1.5vw;
}

.form-wrapper {
    background-color: #F7F7F7;
    padding: 2vh 3vw;
}

.reply {
    margin-top: 4vh;
}

.no-rating .rating-value {
    display: none;
}

.disabled {
    pointer-events: none;
}

.disabled. .rating-value {
    display: inline-block;
}